.container {
  display: grid;
  grid-template-columns: 4fr 9fr;
  height: 100vh;
}

.message_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.445);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
