.nav {
    grid-area: n;
    background-color:#3b6061;
}
  
.nav a {
    display: block;
    text-decoration: none;
    margin: 20px 0px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18pt;
    margin-left: 20px;
}
