.nav {
  grid-area: n;
  background-color: #3b6061;
}

.link {
  display: block;
  text-decoration: none;
  margin: 20px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 25pt;
}

a.inactive {
  color: whitesmoke;
}

a.active {
  color: #d76144;
}

.friend_container {
  display: flex;
  gap: 1rem;
  margin: 20px;
}

.friend {
  display: block;
  width: 63px;
}

.friend img {
  width: 63px;
  height: 75px;
  border-radius: 4%;
}

.friend a {
  color: whitesmoke;
  font-size: 16pt;
  text-align: center;
  text-decoration: none;
  /* доделать */
}
