.dialog {
  display: flex;
  gap: 15px;
  margin: 5px;
  padding-right: 15px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.25rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.dialog a {
  display: table;
  align-self: center;
  text-decoration: none;
  font-size: 20pt;
  line-height: 40px;
  color: rgb(59, 58, 58);
  font-weight: 900;
}

.dialog a.active {
  font-size: 23pt;
  color: whitesmoke;
  text-shadow: 2px 0 2px #d76144, 0 2px 2px #d76144, -2px 0 2px #d76144,
    0 -2px 2px #d76144;
}

.dialog a.inactive {
  color: rgb(59, 58, 58);
}

.avatar {
  width: 90px;
  height: 110px;
  border-radius: 4%;
}
