.post {
  display: flex;
  margin: 20px 0px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.25rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.post p {
  margin: 10px 20px;
  line-height: 30px;
  color: #3b6061;
  font-size: 23pt;
  font-weight: 500;
  word-wrap: break-word;
}

.post .text {
  color: rgb(59, 58, 58);
  font-weight: 300;
}

.post span {
  color: #d76144;
}

.avatar {
  width: 125px;
  height: 150px;
  border-radius: 4%;
}
