.App-wrapper {
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: h;
  background-color: palevioletred;
}

.header img {
  height: 60px;
  width: 60px;
}

.nav {
  grid-area: n;
  background-color: palevioletred;
}

.nav a {
  display: block;
}

.content {
  grid-area: c;
  background-color: rgb(108, 170, 206);
  min-height: 100vh;
}

.bg_image {
  height: 450px;
}